{% extends 'common.html' %}
{% block pwn %}
    <style>
    div{
        margin-left: 10%;
    }
    </style>
    <div>
    {% include 'enrollmentmenu.html' %}
    </div>
    <table align="center" border="1" style="margin-top: 3%" cellpadding="20">
    <tr>
        <th>Course Name</th>
        <th>Faculty Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Fee</th>
        <th>Duration</th>
        <th>Studentnumber</th>
        <th>Cancel Enrolled Course</th>
    </tr>
     {% for x in data %}
    <tr>


            <th>{{ x[1] }}</th>
                <th>{{ x[2] }}</th>
                 <th>{{ x[3] }}</th>
                 <th>{{ x[4] }}</th>
                 <th>{{ x[5] }}</th>
                 <th>{{ x[6] }}</th>
         <th>{{ x[7] }}</th>
         <th><a href="http://127.0.0.1:5000/cancelenroll?cno={{ x[0] }}">Yes</a></th>
                {% endfor %}

    </tr>

    </table>
{% endblock %}